/* main box style */
.box{
    text-align: justify;
    margin-top:20px;
    margin-left: 10px;
    margin-right: 10px;
}

.box::after{
    content:'';
    display: inline-block;
    width: 100%;
}

.box-items{
    background-color: #0c0c0cd3;
    display: inline-table;
}

.news{
    width:59%;
}

.globalChatroom{
    width:40%;
}

.contentBox{
    border-radius: 10px;
    background-color: rgb(48, 205, 216);
}

.welcomeBox{
    text-align: center;
    margin:10px;
}

.chatBoxBottom{
    margin:10px;
    text-align: justify;
}

.chatBoxBottom::after{
    content:'';
    display: inline-block;
    width:100%;
    height: 1px;
}

.newsBox{
    text-align: center;
    margin:10px;
}

.newsBoxBottom{
    height: 200px;
    margin:10px;
}
/* end main box style */

/* chat box */
.contentChatBox{
    margin-top: 1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    background-color: white;
    width:98%;
    display: inline-block;
    text-align: center;
}

.messageBox{
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    margin-left:1%; 
    padding-top:2%;
    width: 98%;
    height:500px;
    padding-bottom: 2%;

    display: inline-block;
}

/* send box */

.sendBox{
    text-align: center;
}

.sendBox-textarea{
    background-color: #fff;
    border-radius: 5px;
    padding:5px;
    margin:10px; 
}

#chat{
    margin:1px;
    width:98%;
}

.sendBox-button{
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width:10%;
    padding:2px;
}

.sendBox-button button{
    outline: 0;
    line-height: 20px;
    color: white;
    background-color: black;
    width:100%;
}

/* message box */

.messageBox{
    display: inline-block;
    width:98%;
}

.boxMessageStyle{
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    margin-bottom: 10px;
    width:65%;
    color: white;
    text-align: justify;
}

/* message left */
.peopleMessage{
    float: left;
    text-align: left;
}
.peopleMessage p{
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* message right */
.userMessage{
    float: right;
    text-align: right;
}

.userMessage p{
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}