/* begin */
*{
    margin:0;   
    padding:0;
    border:0;
}

html{
    padding:0;
    margin:0;
    height: 100%;
    background-color: rgba(121, 37, 252, 0.5);
}

ul{
    line-height: 40px;
    list-style-type: none;
    margin: 0;
}

input{
    outline: 0;
}

/* logo */
.title{
    float:left;

    color:white;
    font-size: 55px;

    text-shadow: 0 0 5px white, 0 0 8px rgba(121, 37, 252, 0.5);

    margin-right: 50px;
}

/* menu */
.menu{
    display: inline-block;
    background-color: #0c0c0ca3; 
    width: 100%;
    height: 65px;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    display: inline-block;

    padding: 10PX 10PX;

    text-decoration: none;

    color: white;
    font-size: 20px;

    margin-right: 5px;
}

.menu ul li a:hover{
    text-decoration:underline;
    text-shadow: 0 0 5px white;
}

/* end menu */

/* section */

/* end section */

/* Footer */
.footer{
    position: relative;

    width: 100%;

    color:white;

    background-color: #0c0c0ca3;

}

/* end footer */
