section{
    text-align: center;
}

/* general items configuration */
.items{
    display: inline-block;
    background-color: #0c0c0ca3;
    margin-top: 20px;
}

.items-fixed{
    width: 20%;
    padding:5px;
}

/* configure outside item per unity */
.item-01{
    position: fixed;
    left: 1%;

}

.item-02{
    position: fixed;
    right: 1%;
}

.item-03{
    width: 50%;
    padding: 5px;
}

/* general inner item configuration */
.items-content{
    background-color: #fff;
    width: 100%;
}

/* item-content-references */
.item-content-01{
    text-align: center;
}

.item-content-references{
    display: inline-block;
    background-color: red;
    width:50%;
}